* {
	/* Colors */
	/* #010700 = black */
	/* #26ad1a = green */
	/* #77ad72 = light green */
	/* #2c4444 = grey */
	padding: 0;
	margin: 0;
}

body {
	background-color: #010700;
	font-family: 'Montserrat', sans-serif;
	color: #77ad72;
	text-align: center;
	font-size: 1.1em;
}

hr {
	border: 1px dashed #2c4444;
	margin: 2em;
}

#title {
	color: #26ad1a;
	font-family: 'Merriweather', serif;
	font-size: 4em;
	margin: 1em;
}

#subtitle {
	color: #26ad1a;
	font-family: 'Merriweather', serif;
	font-size: 2em;
	margin: 1em 3em;
}

#img-caption {
	font-family: 'Merriweather', serif;
	font-size: 1em;
	font-style: italic;
	padding: 1em;
}

a {
	text-decoration: underline;
	color: inherit;
}

a:hover {
	color: #26ad1a;
}

h1 {
	color: #26ad1a;
	font-family: 'Merriweather', serif;
	font-size: 2em;
	margin: 2em 2em 0.5em;
	text-align: center;
}

p {
	padding: 0.5em;
	margin: 0.1em 4em;
	line-height: 1.5em;
}

#title-wrapper {
	margin: 5em 0;
}

#image {
	max-width: 100%;
	display: block;
	height: auto;
	margin: auto;
}

.references ul {
	text-align: left;
	width: 60%;
	margin: auto;
}

footer {
	margin-top: 5em;
	padding: 0em;
	width: 100%;
	color: #26ad1a;
	font-size: 0.8em;
	background-color: rgba(44, 68, 68, 0.3)
}

@media only screen and (max-width: 600px) {
	#title, #subtitle {
		margin: 0em;
		padding: 0.2em;
	}
	
	body p, body h1 {
		margin: 0.5em;
		padding: 0.5em;
	}
	
	footer p {
		text-indent: 0;
	}
}
